<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnlisisNumericoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Raices.css" />
    <link rel="stylesheet" href="~/AnlisisNumericoWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="menu-container">
            <div class="menu-item" onclick="toggleSubmenu()">Raíces de funciones ▾</div>
            <div class="sub-menu" id="submenu" style="display: none; margin-left: 20px;">
                <div class="menu-item active" onclick="showSection('biseccion')">Bisección</div>
                <div class="menu-item" onclick="showSection('regla')">Regla Falsa</div>
                <div class="menu-item" onclick="showSection('newton')">Newton-Raphson</div>
                <div class="menu-item" onclick="showSection('secante')">Secante</div>
            </div>
        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AnlisisNumericoWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script src="~/js/Raices.js"></script>









