<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnlisisNumericoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Raices.css" />
    <link rel="stylesheet" href="~/AnlisisNumericoWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="menu-container">
            <div class="menu-item" onclick="toggleSubmenu()">Raíces de funciones ▾</div>

            <!-- Usar div en vez de <a> para envolver -->
            <div class="sub-menu" id="submenu" style="display: none; margin-left: 20px;">
                <a class="menu-item" asp-controller="Raices" asp-action="Biseccion">Bisección</a>
                <a class="menu-item" asp-controller="Raices" asp-action="ReglaFalsa">Regla Falsa</a>
                <a class="menu-item" asp-controller="Raices" asp-action="Tangente">Newton-Raphson</a>
                <a class="menu-item" asp-controller="Raices" asp-action="Secante">Secante</a>
            </div>
            <a class="menu-item" asp-controller="Ecuaciones" asp-action="Index">Ecuaciones ▾</a>

        </div>
    </header>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

</html>
<script src="~/js/Raices.js"></script>









